<% if user_signed_in? %>
  <h2>トークルーム作成</h2>
  <%= form_with model: @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

  <h2>参加済トークルーム一覧</h2>
  <% @rooms.each do |room| %>
    <%= link_to room_path(room.id) do %>
    <%= room.name %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "ホームに戻る", hobbies_path %>